.priceRange__Container {
  .MuiButton-root {
    min-width: 0;
    background: #eeefef;
    color: #000;
    border-radius: 16px;

    &:hover {
      background: #eeefef;
      color: #000;
    }
  }
}
